# Dependencies
**/node_modules/

# Logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dotenv environment variables file
.env
!/finance-control-backend/.env

# Build directories
/build
/dist

# IDEs and editors
/.idea
/.vscode
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Operating system files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
